@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');
@import "tailwindcss";

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
}


@theme{
    --color-primary-red: #CC0000;
    --color-secondar-red: #FF0000;
    --color-primary-white: #FFFFFF;
    --color-primary-blue: #3B4CCA;
    --color-primary-yellow: #FFDE00;
    --color-secondary-yellow: #B3A125;
}

body{
    background-image: url(../public/landscape.png);
    font-family: 'Fredoka', 'Poppins', sans-serif;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

@keyframes bounceY {
  0%, 100% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(30%);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

@keyframes pulseShadow {
  0%, 100% {
    transform: scale(1);
    opacity: 0.5;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.2;
  }
}

.bounce {
  animation: bounceY 1s infinite;
}

.shadow-pulse {
  animation: pulseShadow 1s infinite;
}
