@import "tailwindcss";

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
}


@theme{
    --color-primary-red: #CC0000;
    --color-secondar-red: #FF0000;
    --color-primary-white: #FFFFFF;
    --color-primary-blue: #3B4CCA;
    --color-primary-yellow: #FFDE00;
    --color-secondary-yellow: #B3A125;
}

body{
    /* background-image: url(../public/pokeball.png); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}